<a href="https://colab.research.google.com/github/thayseps/CursodeExtensaoPythonPandas/blob/main/producao_de_petroleo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Produção de petróleo dos últimos
Autor: Thayse Pereira dos Santos
Data: 12 de fevereiro de 2023

In [1]:
import pandas as pd

In [3]:
producao_df= pd.read_excel('producao.xlsx')
display(producao_df)

        BLOCO REGIÃO GEOGRÁFICA    PAÍS   ANO  PRODUÇÃO DE PETRÓLEO
0    NÃO OPEP  América do Norte  Canadá  2012           3740.000000
1    NÃO OPEP  América do Norte  Canadá  2013           4000.410965
2    NÃO OPEP  América do Norte  Canadá  2014           4270.529903
3    NÃO OPEP  América do Norte  Canadá  2015           4388.135578
4    NÃO OPEP  América do Norte  Canadá  2016           4463.638847
..        ...               ...     ...   ...                   ...
545  NÃO OPEP     Ásia-Pacífico  Outros  2017            273.032872
546  NÃO OPEP     Ásia-Pacífico  Outros  2018            233.635581
547  NÃO OPEP     Ásia-Pacífico  Outros  2019            230.417311
548  NÃO OPEP     Ásia-Pacífico  Outros  2020            208.392032
549  NÃO OPEP     Ásia-Pacífico  Outros  2021            198.586530

[550 rows x 5 columns]

In [5]:
#o maior produtor opep/não opep
display(producao_df.max())

BLOCO                            OPEP
REGIÃO GEOGRÁFICA       Ásia-Pacífico
PAÍS                            Índia
ANO                              2021
PRODUÇÃO DE PETRÓLEO      17113.80073
dtype: object

In [15]:
#dividindo os blocos opep e não opep
opep_df = producao_df.loc[producao_df['BLOCO'] == 'OPEP']
display(opep_df)

    BLOCO          REGIÃO GEOGRÁFICA       PAÍS   ANO  PRODUÇÃO DE PETRÓLEO
90   OPEP  Américas Central e do Sul  Venezuela  2012           2704.000000
91   OPEP  Américas Central e do Sul  Venezuela  2013           2680.356164
92   OPEP  Américas Central e do Sul  Venezuela  2014           2692.493151
93   OPEP  Américas Central e do Sul  Venezuela  2015           2863.871000
94   OPEP  Américas Central e do Sul  Venezuela  2016           2565.503000
..    ...                        ...        ...   ...                   ...
415  OPEP                     África    Nigéria  2017           1967.888912
416  OPEP                     África    Nigéria  2018           2005.187644
417  OPEP                     África    Nigéria  2019           2101.382890
418  OPEP                     África    Nigéria  2020           1827.908240
419  OPEP                     África    Nigéria  2021           1625.533986

[130 rows x 5 columns]

In [17]:
nopep_df = producao_df.loc[producao_df['BLOCO'] == 'NÃO OPEP']
display(nopep_df)

        BLOCO REGIÃO GEOGRÁFICA    PAÍS   ANO  PRODUÇÃO DE PETRÓLEO
0    NÃO OPEP  América do Norte  Canadá  2012           3740.000000
1    NÃO OPEP  América do Norte  Canadá  2013           4000.410965
2    NÃO OPEP  América do Norte  Canadá  2014           4270.529903
3    NÃO OPEP  América do Norte  Canadá  2015           4388.135578
4    NÃO OPEP  América do Norte  Canadá  2016           4463.638847
..        ...               ...     ...   ...                   ...
545  NÃO OPEP     Ásia-Pacífico  Outros  2017            273.032872
546  NÃO OPEP     Ásia-Pacífico  Outros  2018            233.635581
547  NÃO OPEP     Ásia-Pacífico  Outros  2019            230.417311
548  NÃO OPEP     Ásia-Pacífico  Outros  2020            208.392032
549  NÃO OPEP     Ásia-Pacífico  Outros  2021            198.586530

[420 rows x 5 columns]

In [19]:
print(producao_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   BLOCO                 550 non-null    object
 1   REGIÃO GEOGRÁFICA     550 non-null    object
 2   PAÍS                  550 non-null    object
 3   ANO                   550 non-null    int64
 4   PRODUÇÃO DE PETRÓLEO  550 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 21.6+ KB
None

In [20]:
display(producao_df['PRODUÇÃO DE PETRÓLEO'].max())

17113.80073