<a href="https://colab.research.google.com/github/thayseps/CursodeExtensaoPythonPandas/blob/main/segundo_exemplo_em_python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SEGUNDO EXEMPLO DE MANIPULAÇÃO DE DADOS USANDO PYTHON PANDAS**
veremos remoção de colunas,inserção de dados, merge e gráficos
Autor: Thayse Pereira
Data: 9 e 10 de Fevereiro de 2023

In [8]:
#importando biblioteca
import pandas as pd

Lendo o arquivo

In [9]:
combustiveis_df = pd.read_excel('ca-2021-02.xlsx')
display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

In [10]:
#inserção simples de dados
combustiveis_df['Ativo'] = True
display(combustiveis_df.head(10))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True
5,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,GASOLINA,2021-11-01,7.198,NaN,R$ / litro,VIBRA ENERGIA,True
6,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,ETANOL,2021-11-01,5.982,NaN,R$ / litro,VIBRA ENERGIA,True
7,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,DIESEL,2021-11-01,5.974,NaN,R$ / litro,VIBRA ENERGIA,True
8,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,GASOLINA ADITIVADA,2021-11-01,7.208,NaN,R$ / litro,VIBRA ENERGIA,True
9,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,DIESEL S10,2021-11-01,5.983,NaN,R$ / litro,VIBRA ENERGIA,True

In [11]:
# Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Municipio for igual a SAO PAULO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'SAO PAULO' else None for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SAO PAULO','INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

        Municipio            Obs
1601    SAO PAULO  MELHOR CIDADE
1602    SAO PAULO  MELHOR CIDADE
1603    SAO PAULO  MELHOR CIDADE
1604    SAO PAULO  MELHOR CIDADE
2607     CAMPINAS           None
...           ...            ...
165925  SAO PAULO  MELHOR CIDADE
165926  SAO PAULO  MELHOR CIDADE
166122  SAO PAULO  MELHOR CIDADE
166123  SAO PAULO  MELHOR CIDADE
166124  SAO PAULO  MELHOR CIDADE

[7742 rows x 2 columns]

In [12]:
from pandas.core.internals.blocks import com
#NUMPY
import numpy as np
combustiveis_df['Status do valor de venda'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df[['Revenda', 'Valor de Venda', 'Status do valor de venda']])

,Revenda,Valor de Venda,Status do valor de venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [22]:
#inserção mais complicada
#calcular postos por habitante na amostragem nov/21
habitantes_cidade_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=';')#separador(';')
display(habitantes_cidade_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [23]:
from numpy.lib.function_base import disp
#cruzamento de dataframe
#'join'ou 'merge'  -->> PESQUISAR
#notas: .rename = renomeia colunas   -->> PESQUISAR
habitantes_cidade_df.rename(columns={'Estado':'Estado - Sigla'}, inplace=True)
display(habitantes_cidade_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [24]:
#faz um merge dos 2 dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(habitantes_cidade_df, how="left", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status do valor de venda,NumHabitantes2021
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True,None,Caro,NaN
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True,None,Caro,NaN
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA,True,None,Barato,NaN
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA,True,None,Caro,NaN
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA,True,None,Barato,NaN
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA,True,None,Barato,NaN
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA,True,None,Caro,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168409 entries, 0 to 168408
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Regiao - Sigla            168409 non-null  object
 1   Estado - Sigla            168409 non-null  object
 2   Municipio                 168409 non-null  object
 3   Revenda                   168409 non-null  object
 4   CNPJ da Revenda           168409 non-null  object
 5   Nome da Rua               168409 non-null  object
 6   Numero Rua                168353 non-null  object
 7   Complemento               35057 non-null   object
 8   Bairro                    168043 non-null  object
 9   Cep                       168409 non-null  object
 10  Produto                   168409 non-null  object
 11  Data da Coleta            168409 non-null  datetime64[ns]
 12  Valor de Venda            168409 non-null  float64
 13  Valor de Compra           0 non-null       float64
 14  Unidade de Medida         168409 non-null  object
 15  Bandeira                  168409 non-null  object
 16  Ativo                     168409 non-null  bool
 17  Obs                       5220 non-null    object
 18  Status do valor de venda  168409 non-null  object
 19  NumHabitantes2021         20634 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), object(15)
memory usage: 25.9+ MB
None

In [16]:
from pandas.core.reshape.merge import merge
#DESTRUIR COLUNAS >:b
#merge_df.drop_duplicates
#merge_df.dropna >> - apaga as linhas ou colunas totalmente vazias/nulas
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168409 entries, 0 to 168408
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Regiao - Sigla            168409 non-null  object
 1   Estado - Sigla            168409 non-null  object
 2   Municipio                 168409 non-null  object
 3   Revenda                   168409 non-null  object
 4   CNPJ da Revenda           168409 non-null  object
 5   Nome da Rua               168409 non-null  object
 6   Cep                       168409 non-null  object
 7   Produto                   168409 non-null  object
 8   Data da Coleta            168409 non-null  datetime64[ns]
 9   Valor de Venda            168409 non-null  float64
 10  Unidade de Medida         168409 non-null  object
 11  Bandeira                  168409 non-null  object
 12  Ativo                     168409 non-null  bool
 13  Status do valor de venda  168409 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), object(11)
memory usage: 18.1+ MB
None

In [25]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Regiao - Sigla  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                     1090
GO             GOIANIA        1555626.0                    1667
MG             BELO HORIZONTE 2530701.0                     827
MS             CAMPO GRANDE   916001.0                     1606
PR             CURITIBA       1963726.0                    1291
RJ             RIO DE JANEIRO 6775561.0                    2445
RN             NATAL          803739.0                     1093
RO             PORTO VELHO    548952.0                      805
RS             PORTO ALEGRE   1492530.0                    1142
SP             CAMPINAS       1223237.0                    1605
               INDAIATUBA     260690.0                      562
               SANTOS         433991.0                      459
               SAO PAULO      12396372.0                   5220
               SAO VICENTE    370839.0                      453
TO             PALMAS         313349.0                      369

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                       1090
GO             GOIANIA        1555626.0                      1667
MG             BELO HORIZONTE 2530701.0                       827
MS             CAMPO GRANDE   916001.0                       1606
PR             CURITIBA       1963726.0                      1291
RJ             RIO DE JANEIRO 6775561.0                      2445
RN             NATAL          803739.0                       1093
RO             PORTO VELHO    548952.0                        805
RS             PORTO ALEGRE   1492530.0                      1142
SP             CAMPINAS       1223237.0                      1605
               INDAIATUBA     260690.0                        562
               SANTOS         433991.0                        459
               SAO PAULO      12396372.0                     5220
               SAO VICENTE    370839.0                        453
TO             PALMAS         313349.0                        369

                                                 Nome da Rua  Numero Rua  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                  1090        1090
GO             GOIANIA        1555626.0                 1667        1667
MG             BELO HORIZONTE 2530701.0                  827         827
MS             CAMPO GRANDE   916001.0                  1606        1606
PR             CURITIBA       1963726.0                 1291        1291
RJ             RIO DE JANEIRO 6775561.0                 2445        2445
RN             NATAL          803739.0                  1093        1093
RO             PORTO VELHO    548952.0                   805         805
RS             PORTO ALEGRE   1492530.0                 1142        1142
SP             CAMPINAS       1223237.0                 1605        1605
               INDAIATUBA     260690.0                   562         562
               SANTOS         433991.0                   459         459
               SAO PAULO      12396372.0                5220        5220
               SAO VICENTE    370839.0                   453         453
TO             PALMAS         313349.0                   369         369

                                                 Complemento  Bairro   Cep  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                   198    1090  1090
GO             GOIANIA        1555626.0                 1369    1667  1667
MG             BELO HORIZONTE 2530701.0                   32     827   827
MS             CAMPO GRANDE   916001.0                   170    1606  1606
PR             CURITIBA       1963726.0                  149    1291  1291
RJ             RIO DE JANEIRO 6775561.0                  375    2445  2445
RN             NATAL          803739.0                   270    1093  1093
RO             PORTO VELHO    548952.0                    28     805   805
RS             PORTO ALEGRE   1492530.0                  126    1142  1142
SP             CAMPINAS       1223237.0                  340    1605  1605
               INDAIATUBA     260690.0                    51     562   562
               SANTOS         433991.0                    59     459   459
               SAO PAULO      12396372.0                 384    5220  5220
               SAO VICENTE    370839.0                    12     453   453
TO             PALMAS         313349.0                   274     369   369

                                                 Produto  Data da Coleta  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0              1090            1090
GO             GOIANIA        1555626.0             1667            1667
MG             BELO HORIZONTE 2530701.0              827             827
MS             CAMPO GRANDE   916001.0              1606            1606
PR             CURITIBA       1963726.0             1291            1291
RJ             RIO DE JANEIRO 6775561.0             2445            2445
RN             NATAL          803739.0              1093            1093
RO             PORTO VELHO    548952.0               805             805
RS             PORTO ALEGRE   1492530.0             1142            1142
SP             CAMPINAS       1223237.0             1605            1605
               INDAIATUBA     260690.0               562             562
               SANTOS         433991.0               459             459
               SAO PAULO      12396372.0            5220            5220
               SAO VICENTE    370839.0               453             453
TO             PALMAS         313349.0               369             369

                                                 Valor de Venda  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                     1090
GO             GOIANIA        1555626.0                    1667
MG             BELO HORIZONTE 2530701.0                     827
MS             CAMPO GRANDE   916001.0                     1606
PR             CURITIBA       1963726.0                    1291
RJ             RIO DE JANEIRO 6775561.0                    2445
RN             NATAL          803739.0                     1093
RO             PORTO VELHO    548952.0                      805
RS             PORTO ALEGRE   1492530.0                    1142
SP             CAMPINAS       1223237.0                    1605
               INDAIATUBA     260690.0                      562
               SANTOS         433991.0                      459
               SAO PAULO      12396372.0                   5220
               SAO VICENTE    370839.0                      453
TO             PALMAS         313349.0                      369

                                                 Valor de Compra  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                         0
GO             GOIANIA        1555626.0                        0
MG             BELO HORIZONTE 2530701.0                        0
MS             CAMPO GRANDE   916001.0                         0
PR             CURITIBA       1963726.0                        0
RJ             RIO DE JANEIRO 6775561.0                        0
RN             NATAL          803739.0                         0
RO             PORTO VELHO    548952.0                         0
RS             PORTO ALEGRE   1492530.0                        0
SP             CAMPINAS       1223237.0                        0
               INDAIATUBA     260690.0                         0
               SANTOS         433991.0                         0
               SAO PAULO      12396372.0                       0
               SAO VICENTE    370839.0                         0
TO             PALMAS         313349.0                         0

                                                 Unidade de Medida  Bandeira  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                        1090      1090
GO             GOIANIA        1555626.0                       1667      1667
MG             BELO HORIZONTE 2530701.0                        827       827
MS             CAMPO GRANDE   916001.0                        1606      1606
PR             CURITIBA       1963726.0                       1291      1291
RJ             RIO DE JANEIRO 6775561.0                       2445      2445
RN             NATAL          803739.0                        1093      1093
RO             PORTO VELHO    548952.0                         805       805
RS             PORTO ALEGRE   1492530.0                       1142      1142
SP             CAMPINAS       1223237.0                       1605      1605
               INDAIATUBA     260690.0                         562       562
               SANTOS         433991.0                         459       459
               SAO PAULO      12396372.0                      5220      5220
               SAO VICENTE    370839.0                         453       453
TO             PALMAS         313349.0                         369       369

                                                 Ativo   Obs  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0            1090     0
GO             GOIANIA        1555626.0           1667     0
MG             BELO HORIZONTE 2530701.0            827     0
MS             CAMPO GRANDE   916001.0            1606     0
PR             CURITIBA       1963726.0           1291     0
RJ             RIO DE JANEIRO 6775561.0           2445     0
RN             NATAL          803739.0            1093     0
RO             PORTO VELHO    548952.0             805     0
RS             PORTO ALEGRE   1492530.0           1142     0
SP             CAMPINAS       1223237.0           1605     0
               INDAIATUBA     260690.0             562     0
               SANTOS         433991.0             459     0
               SAO PAULO      12396372.0          5220  5220
               SAO VICENTE    370839.0             453     0
TO             PALMAS         313349.0             369     0

                                                 Status do valor de venda
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452.0                               1090
GO             GOIANIA        1555626.0                              1667
MG             BELO HORIZONTE 2530701.0                               827
MS             CAMPO GRANDE   916001.0                               1606
PR             CURITIBA       1963726.0                              1291
RJ             RIO DE JANEIRO 6775561.0                              2445
RN             NATAL          803739.0                               1093
RO             PORTO VELHO    548952.0                                805
RS             PORTO ALEGRE   1492530.0                              1142
SP             CAMPINAS       1223237.0                              1605
               INDAIATUBA     260690.0                                562
               SANTOS         433991.0                                459
               SAO PAULO      12396372.0                             5220
               SAO VICENTE    370839.0                                453
TO             PALMAS         313349.0                                369

In [26]:
# Remover a linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status do valor de venda,NumHabitantes2021
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True,None,Caro,NaN
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True,None,Caro,NaN
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NE,BA,SALVADOR,J&J COMBUSTIVEIS LTDA,06.115.130/0001-56,AVENIDA ANTONIO CARLOS MAGALHAES,5863,NaN,SANTA TERESA,40265-200,DIESEL S10,2021-11-01,5.890,NaN,R$ / litro,IPIRANGA,True,None,Barato,NaN
96,NE,BA,SALVADOR,J&J COMBUSTIVEIS LTDA,06.115.130/0001-56,AVENIDA ANTONIO CARLOS MAGALHAES,5863,NaN,SANTA TERESA,40265-200,GNV,2021-11-01,4.290,NaN,R$ / m³,IPIRANGA,True,None,Barato,NaN
97,NE,BA,SALVADOR,ECOPOSTOS - COMBUSTIVEIS E SERVICOS LTDA,04.420.464/0003-70,AVENIDA PROFESSOR PINTO DE AGUIAR,650,NaN,PITUACU,41740-090,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,VIBRA ENERGIA,True,None,Caro,NaN
98,NE,BA,SALVADOR,ECOPOSTOS - COMBUSTIVEIS E SERVICOS LTDA,04.420.464/0003-70,AVENIDA PROFESSOR PINTO DE AGUIAR,650,NaN,PITUACU,41740-090,ETANOL,2021-11-01,5.990,NaN,R$ / litro,VIBRA ENERGIA,True,None,Barato,NaN
99,NE,BA,SALVADOR,ECOPOSTOS - COMBUSTIVEIS E SERVICOS LTDA,04.420.464/0003-70,AVENIDA PROFESSOR PINTO DE AGUIAR,650,NaN,PITUACU,41740-090,GASOLINA ADITIVADA,2021-11-01,7.290,NaN,R$ / litro,VIBRA ENERGIA,True,None,Caro,NaN

In [28]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.reset_index(inplace=True)
#display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df.info())
display(postos_por_municipio_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Estado - Sigla            15 non-null     object
 1   Municipio                 15 non-null     object
 2   NumHabitantes2021         15 non-null     float64
 3   Regiao - Sigla            15 non-null     int64
 4   NumPostos                 15 non-null     int64
 5   Nome da Rua               15 non-null     int64
 6   Numero Rua                15 non-null     int64
 7   Complemento               15 non-null     int64
 8   Bairro                    15 non-null     int64
 9   Cep                       15 non-null     int64
 10  Produto                   15 non-null     int64
 11  Data da Coleta            15 non-null     int64
 12  Valor de Venda            15 non-null     int64
 13  Valor de Compra           15 non-null     int64
 14  Unidade de Medida         15 non-null     int64
 15  Bandeira                  15 non-null     int64
 16  Ativo                     15 non-null     int64
 17  Obs                       15 non-null     int64
 18  Status do valor de venda  15 non-null     int64
 19  PostosPorHabitante        15 non-null     float64
dtypes: float64(2), int64(16), object(2)
memory usage: 2.5+ KB

None

,Estado - Sigla,Municipio,NumHabitantes2021,Regiao - Sigla,NumPostos,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status do valor de venda,PostosPorHabitante
0,AC,RIO BRANCO,419452.0,1090,1090,1090,1090,198,1090,1090,1090,1090,1090,0,1090,1090,1090,0,1090,0.002599
1,GO,GOIANIA,1555626.0,1667,1667,1667,1667,1369,1667,1667,1667,1667,1667,0,1667,1667,1667,0,1667,0.001072
2,MG,BELO HORIZONTE,2530701.0,827,827,827,827,32,827,827,827,827,827,0,827,827,827,0,827,0.000327
3,MS,CAMPO GRANDE,916001.0,1606,1606,1606,1606,170,1606,1606,1606,1606,1606,0,1606,1606,1606,0,1606,0.001753
4,PR,CURITIBA,1963726.0,1291,1291,1291,1291,149,1291,1291,1291,1291,1291,0,1291,1291,1291,0,1291,0.000657
5,RJ,RIO DE JANEIRO,6775561.0,2445,2445,2445,2445,375,2445,2445,2445,2445,2445,0,2445,2445,2445,0,2445,0.000361
6,RN,NATAL,803739.0,1093,1093,1093,1093,270,1093,1093,1093,1093,1093,0,1093,1093,1093,0,1093,0.001360
7,RO,PORTO VELHO,548952.0,805,805,805,805,28,805,805,805,805,805,0,805,805,805,0,805,0.001466
8,RS,PORTO ALEGRE,1492530.0,1142,1142,1142,1142,126,1142,1142,1142,1142,1142,0,1142,1142,1142,0,1142,0.000765
9,SP,CAMPINAS,1223237.0,1605,1605,1605,1605,340,1605,1605,1605,1605,1605,0,1605,1605,1605,0,1605,0.001312
10,SP,INDAIATUBA,260690.0,562,562,562,562,51,562,562,562,562,562,0,562,562,562,0,562,0.002156
11,SP,SANTOS,433991.0,459,459,459,459,59,459,459,459,459,459,0,459,459,459,0,459,0.001058
12,SP,SAO PAULO,12396372.0,5220,5220,5220,5220,384,5220,5220,5220,5220,5220,0,5220,5220,5220,5220,5220,0.000421
13,SP,SAO VICENTE,370839.0,453,453,453,453,12,453,453,453,453,453,0,453,453,453,0,453,0.001222
14,TO,PALMAS,313349.0,369,369,369,369,274,369,369,369,369,369,0,369,369,369,0,369,0.001178